Personality.API/.vs
/Personality.API/Personality.API/obj
/Personality.API/Personality.DB/obj
/Personality.API/Personality.Service/obj
/Personality.API/Personality.API/bin
/Personality.API/Personality.DB/bin
/Personality.API/Personality.Service/bin